.btn {
    display: inline-block;
    padding: 9px 24px;
    border: 1px solid #ff891e;
    background-color: #ff891e;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 13px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: transform 0.15s ease-out;

    @media (min-width: $laptop) and (min-height: $max) {
        padding: 11px 30px;
        font-size: 16px;
    }

    &:hover {
        transform: scale(1.05);
    }

    &--transparent {
        border-color: #212121;
        background-color: transparent;
        color: #000;
    }
}
