.btn {
    display: block;
    border: 0;
    background-color: #ff891e;
    color: #fff;
    font-size: 13px;
    padding: 10px 24px;
    border-radius: 2px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;

    &--transparent {
        border: 1px solid #000;
        color: #000;
        background-color: transparent;
    }
}
