.overlay {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    display: flex;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-color: #c4cdd6;
    opacity: 1;
    transition:
        opacity 0.45s ease,
        transform 0.45s ease;

    &--hidden {
        opacity: 0;
        transform: scale(0);
    }

    &__btn {
        margin: auto;
    }
}
