.slider {
    height: 100vh;

    &__wrapper {
        height: 100%;
        overflow: hidden;
        position: relative;
    }

    &__slides {
        margin: 0;
        padding: 0;
        list-style: none;
        height: 100%;
        position: relative;



    }

    &__slide {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        z-index: 1;
        transition: opacity 0.25s ease;

        &--shown {
            opacity: 1;
            z-index: 2;
        }
    }

    &__img {
        height: 100%;

        img {
            display: block;
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }

    &__btn {
        cursor: pointer;
        border: 0;
        border-radius: 2px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        height: 77px;
        width: 86px;
        background-color: rgba(#000, 0.1);
        z-index: 3;

        &--prev {
            left: 0;
        }

        &--next {
            right: 0;
        }
    }

    &__pagination {
        margin: 0;
        padding: 0;
        list-style: none;
        position: absolute;
        bottom: 39px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        z-index: 3;
    }

    &__pagination-item {
        cursor: pointer;
        border-radius: 50%;
        border: 1px solid #000;
        background-color: transparent;
        height: 20px;
        width: 20px;
        font-size: 0;
        margin: 0 10px;

        &--current {
            background-color: #000;
        }
    }
}
